[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/tsaleh/vim-align.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/color_sampler"]
	path = bundle/color_sampler
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/BusyBee"]
	path = bundle/BusyBee
	url = https://github.com/vim-scripts/BusyBee.git
